* {
  box-sizing: border-box;
}

#breadcumb {
  padding: 8px;
}

main {
  display: flex;
  overflow: auto;
  flex: 1;
}

#statement-submission {
  display: flex;
  flex: 1;
}

#statement {
  flex: 1;
}

#editor {
  flex: 1;
}

#contest-header {
  padding: 8px;
}

#contest-header h2 {
  margin: 0;
}

#contests, #problems, #contest, #problem {
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: 8px;
}

.contest, .problem {
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  display: block;
  text-decoration: none;
  color: black;
  display: flex;
  height: 56px;
}

.contest-info {
  padding: 8px;
}

.score {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 64px;
}

.score .time {
  font-size: 14px;
}

.problem-info {
  display: flex;
  flex-flow: column;
  padding: 8px;
}

.problem-info .name {
  flex: 1;
}

.extra {
  font-size: 14px;
  color: #555;
}

form {
  display: flex;
  flex-flow: column;
}

form > * {
  margin: 8px;
}

#login-form {
  max-width: 500px;
}

form > button {
  padding: 4px;
}

#logout-form {
   display: inline;
   padding: 0;
}
    
header {
  background-color: #35a7ff;
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  color: white;
  padding: 16px;
}

header a {
    color: white;
}

.span {
  flex: 1;
}

html, body {
  margin: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

#submission {
  border: 1px solid #ddd;
  display: flex;
  flex-flow: column;
  flex: 1;
}

#submission > label {
  font-size: 14px;
  margin: 8px;
}

#submission > input, #submission > button, #submission > textarea, #submission > select {
  margin: 0 8px 8px 8px;
}

#submission > button {
  margin-top: 8px;
  padding: 4px;
  box-sizing: border-box;
}

.info {
  background: #f66;
  border: solid 1px #f55;
  padding: 8px;
  color: white;
  font-size: 14px;
  box-sizing: border-box;
}

#title {
  font-size: 20px;
  padding: 16px;
  box-sizing: border-box;
}

#submissions {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 16px;
  overflow: auto;
  max-width: 250px;
}

#submissions-list {
  padding: 8px 0;
}

.submission {
  padding: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-flow: column;
  cursor: pointer;
  transition: 0.5s all;
}

.submission .uuid {
  font-size: 10px;
  font-family: monospace;
  padding-bottom: 8px;
}

.submission .description {
  display: flex;
  height: 18px;
}

.compilation-result {
  white-space: nowrap;
  font-family: monospace;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.submission:hover .compilation-result {
  white-space: unset;
}

.lds-hourglass {
  display: inline-flex;
  position: relative;
  width: 0;
  height: 0;
  transform: translate(1px, -3px);
}

.verdict {
  margin-right: 4px;
  width: 24px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.waiting-judge {
  background: #777;
  color: white;
}

.accepted {
  background: #2DFF0F;
  color: black;
}

.wrong-answer {
  background: #900e00;
  color: white;
}

.runtime-error {
  background: #CA3CFD;
  color: white;
}

.memory-limit {
  background: #AD5A03;
  color: white;
}

.time-limit {
  background: #0064BB;
  color: white;
}

.compilation-error {
  background: #000;
  color: white;
}

.lds-hourglass:before {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 0;
  box-sizing: border-box;
  border: 11px solid #aaa;
  border-color: #aaa transparent #aaa transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(270deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(360deg);
  }
}

table {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

th {
  padding: 8px;
  text-align: left;
}

th.right, td.right {
  text-align: right;
}

tr {
  max-height: 32px;
  min-height: 32px;
}

td {
  max-height: 32px;
  min-height: 32px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0;
}

table a {
  display: block;
  max-height: 32px;
  min-height: 32px;
  padding: 8px;
  text-decoration: none;
}
