{{ #> base title="Sobre" }}
  <div id="contests">
  O Juĝisto é o juiz de maratona da Universidade Federal do Paraná.
  Seu objetivo é ser utilizado para lecionar a disciplina de Desafios de Programação.

  <p>
  O código é aberto e licenciado sob GPLv3 e pode ser encontrado
  <a href="https://gitlab.c3sl.ufpr.br/maratona-ufpr/jughisto">no GitLab do C3SL</a>.
  </div>
{{ /base }}
