<!DOCTYPE html>
<head>
  <title>Juĝisto · {{ title }}</title>
  <base href="{{ base.base_url }}">
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="static/styles.css"/>
  <link rel="stylesheet" data-name="vs/editor/editor.main" href="https://unpkg.com/monaco-editor@0.21.2/min/vs/editor/editor.main.css"/>
  <script src="static/htmx.min.js"></script>
  <link rel="stylesheet" href="static/flatpickr.min.css">
  <script src="static/flatpickr.min.js"></script>
</head>
<body>
  <header>
    <h1><a href=".">Juĝisto</a></h1>
    <nav>
      <a href=".">Início</a>
      <a href="contests/">Competições</a>
      <a href="problems/">Problemas</a>
      <a href="submissions/">Submissões</a>
      <a href="setting/">Criações</a>
      <a href="editor">Editor</a>
      <a href="about">Sobre</a>
    </nav>
    <div class="span"></div>
    <div class="logged">
      {{ #if base.logged_user }}
        <a href="me">{{ base.logged_user.name }}{{ #if base.logged_user.is_admin }} (administrador){{ /if }}</a>
        <form id="logout-form" method="post" action="logout">
          <button type="submit">sair</button>
        </form>
      {{ else }}
      <a href="login">entrar</a>
      {{ /if }}
    </div>
  </header>
  {{ #if base.flash_messages }}
  {{ #each base.flash_messages }}
  {{ #each this }}
    <div class="flash-message flash-{{ this.level }}">
      {{ this.content }}
    </div>
  {{ /each }}
  {{ /each }}
  {{ /if }}
  <main>
    {{> @partial-block }}
  </main>
</body>
