{{ #> base title="Competição" }}
  <div id="problem">
    <div id="breadcrumb">
      <a href=".">Início</a>
      /
      <a href="contests/">Competições</a>
      /
      <a href="contests/{{ contest.id }}">{{ contest.name }}</a>
      /
      <a href="contests/{{ contest.id }}/{{ problem.label }}">{{ problem.label }} · {{ problem.name }}</a>
    </div>

    <div id="statement-submission">
      <iframe src="problems/{{problem.id}}/assets/problem.html" id="statement"></iframe>
      <form id="submission" method="post" action="submissions/">
        <input type="hidden" name="contest_problem_id" value="{{ problem.id }}">

        {{ > monaco }}

        <button type="submit">
          Submeter Solução
        </button>
      </form>
    </div>
  </div>

  <div id="submissions" hx-sse="connect:submission_updates/">
    Submissões
    <div id="submissions-list" hx-get="submissions/me/contests/{{ contest.id }}/{{ problem.label }}" hx-trigger="load, sse:update_submission">
    {{> submissions }}
    </div>
  </div>
{{ /base }}
