{{#> base title="Competições"}}
  <div id="contests">
    <div id="breadcrumb">
      <a href=".">Início</a>
      /
      <a href="contests/">Competições</a>
    </div>

    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th class="right">Momento do Início</th>
          <th class="right">Momento do Final</th>
          <th class="right">Momento da Criação</th>
        </tr>
      </thead>
      <tbody>
        {{ #each contests }}
        <tr>
          <td><a href="contests/{{ this.id }}">{{ this.name }}</a></td>
          <td class="right"><a href="contests/{{ this.id }}">{{ this.start_instant }}</a></td>
          <td class="right"><a href="contests/{{ this.id }}">{{ this.end_instant }}</a></td>
          <td class="right"><a href="contests/{{ this.id }}">{{ this.creation_instant }}</a></td>
        </tr>
        {{ /each }}
      </tbody>
    </table>
  </div>

  {{#if base.logged_user.is_admin }}
    <form id="create-contest-form" hx-target="body" hx-swap="innerHTML" hx-encoding="multipart/form-data" hx-post="contests/">
      <label for="name">
        Nome
      </label>
      <input name="name" type="text" />

      <label for="start_instant">
        Momento do Início
      </label>
      <input id="start_instant" type="text" name="start_instant"/>

      <label for="end_time">
        Momento do Final
      </label>
      <input id="end_instant" type="text" name="end_instant"/>

      <label for="end_time">
        Razão da Nota (dentro do prazo)
      </label>
      <input id="grade_ratio" type="text" name="grade_ratio"/>

      <label for="end_time">
        Razão da Nota (fora do prazo)
      </label>
      <input id="grade_after_ratio" type="text" name="grade_after_ratio"/>

      <label for="polygon_zip">
        Zip do Polygon
      </label>
      <input name="polygon_zip" type="file"/>

      <button type="submit">
        Criar Contest
      </button>

      <progress id="progress" value="0" max="100"></progress>
    </form>

    <script>
      htmx.on('#create-contest-form', 'htmx:xhr:progress', function(evt) {
        htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
      });
    </script>
    <script>
      flatpickr("#start_instant", { enableTime: true, enableSeconds: true, time_24hr: true });
      flatpickr("#end_instant", { enableTime: true, enableSeconds: true, time_24hr: true });
    </script>
  {{/if}}
{{/base}}
