{{ #> base title="Editor" }}
  <form id="submission" method="post" action="submissions/">
    {{ > monaco }}

    <label>Entrada</label>
    <textarea name="input"></textarea>

    <label>Saída</label>
    <textarea name="output"></textarea>
  </form>
{{ /base }}
