<!DOCTYPE html>
<head>
  <title>Juĝisto</title>
  <link rel="stylesheet" href="/static/styles.css"/>
<style>
html, body {
  flex-flow: row;
}

#submissions {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 16px;
}

#submissions-list {
  padding: 8px 0;
}

.submission {
  padding: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-flow: column;
  cursor: pointer;
}

.submission .uuid {
  font-size: 10px;
  font-family: monospace;
  padding-bottom: 8px;
}

.submission .description {
  display: flex;
  height: 18px;
}

.compilation-result {
  white-space: pre;
  font-family: monospace;
}

.lds-hourglass {
  display: inline-flex;
  position: relative;
  width: 0;
  height: 0;
  transform: translate(1px, -3px);
}

.verdict {
  margin-right: 4px;
  width: 24px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.accepted {
  background: #291;
  color: white;
}

.wrong-answer {
  background: #b21;
  color: white;
}

.runtime-error {
  background: #80c;
  color: white;
}

.memory-limit {
  background: #cc6600;
  color: white;
}

.time-limit {
  background: #03c;
  color: white;
}

.presentation-error {
  background: #2aa;
  color: white;
}

.compilation-error {
  background: #dda218;
  color: white;
}

.lds-hourglass:before {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 0;
  box-sizing: border-box;
  border: 11px solid #aaa;
  border-color: #aaa transparent #aaa transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(270deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(360deg);
  }
}

.waiting-judge {
  background: #777;
  color: white;
}
</style>
</head>
<body>
  <form method="post" action="/submissions">
    <label for="language">
      Linguagem:
    </label>
    <select id="language" name="language">
      {{ #each languages }}
      <option value="{{ this }}">{{ this }}</option>
      {{ /each }}
    </select>
    <label for="code">Código-fonte</label>
    <textarea id="source_text" name="source_text">
#include &lt;bits/stdc++.h&gt;
using namespace std;

int main() {

}</textarea>
    <input type="file" id="source_file"/>
    <button type="submit">
      Submeter Solução
    </button>
  </form>

  <div id="submissions">
    Submissões
    <div id="submissions-list">
    </div>
  </div>

  <script>
    const source_file = document.body.querySelector("#source_file");
    const source_text = document.body.querySelector("#source_text");
    source_file.addEventListener("change", async function (e) {
      source_text.value = await source_file.files[0].text();
      source_file.value = "";
    });

    const submissions = document.body.querySelector("#submissions-list");
    async function fetchSubmissions() {
      const response = await fetch("/submissions");
      submissions.innerHTML = await response.text();
    }
    setInterval(fetchSubmissions, 1000);
    fetchSubmissions();
  </script>
</body>
