{{ #> base title="Entrar" }}
  <form type="submit" method="post" action="{{base_url}}login" id="login-form">
    <label for="name">
      Usuário
    </label>
    <input required type="text" id="name" name="name">
    <label for="password">
      Senha
    </label>
    <input required type="password" id="password" name="password"/>
    <button type="submit">
      Entrar
    </button>
  </form>
{{ /base }}
