{{ #> base title="Início" }}
  <div id="contests">
    {{ #each contests }}
      <a href="contests/{{ this.id }}" class="contest">
        <div class="contest-info">
          <div class="name">{{ this.name }}</div>
          <div class="extra">{{ this.start_instant }} — {{ this.end_instant }}</div>
        </div>
        <div class="span"></div>
        {{#if this.grade_ratio}}
        <div class="score">
          <div class="">{{this.accepted_count}}&Cross;<sup>1</sup>&frasl;<sub>{{this.grade_ratio}}</sub></div>
          <div class="">Prazo</div>
        </div>
        {{/if}}
        {{#if this.grade_after_ratio}}
        <div class="score">
          <div class="">{{this.accepted_after_count}}&Cross;<sup>1</sup>&frasl;<sub>{{this.grade_after_ratio}}</sub></div>
          <div class="">Fora</div>
        </div>
        {{/if}}
        {{#if this.grade_ratio}}
        <div class="score">
          <div class="">{{this.grade}}</div>
          <div class="">Nota</div>
        </div>
        {{/if}}
        <div class="score">
          <div class="">{{this.accepted_total_count}}/{{this.problem_count}}</div>
          <div class="">ACs</div>
        </div>
      </a>
    {{ /each }}
  </div>

  {{#if base.logged_user.is_admin}}
    <div id="submissions" hx-sse="connect:submission_updates/">
      Submissões
      <div id="submissions-list" hx-get="submissions/" hx-trigger="load, sse:update_submission">
      {{> submissions }}
      </div>
    </div>
  {{/if}}
{{ /base }}
