<label for="language">Linguagem</label>
<select id="language" name="language">
{{ #each languages }}
<option
{{ #if (eq ../language this.value) }}
selected
{{ /if }}
value="{{ this.value }}"
>
{{ this.name }}
</option>
{{ /each }}
</select>

<label>Código-fonte</label>
<div id="editor" style="border: 1px solid grey"></div>
<textarea id="source-text" name="source_text" style="display: none"></textarea>
<input type="file" id="source-file"/>

<script>
  var require = { paths: { vs: 'static/vs' } };
</script>

<script src="static/vs/loader.js"></script>
<script src="static/vs/editor/editor.main.nls.js"></script>
<script src="static/vs/editor/editor.main.js"></script>

<script>
  var editor = monaco.editor.create(document.getElementById('editor'), {
    value: "#include <bits/stdc++.h>\n" +
      "using namespace std;\n" +
      "\n" +
      "int main() {\n" +
      "    \n" +
      "}"
  });

  const sourceFile = document.getElementById("source-file");
  sourceFile.addEventListener("change", async function (e) {
    editor.setValue(await sourceFile.files[0].text());
    sourceFile.value = "";
  });

  const sourceText = document.getElementById("source-text");
  function setSourceText() { sourceText.value = editor.getValue(); }
  editor.onDidChangeModelContent(setSourceText);
  setSourceText();

  const language = document.getElementById("language");
  function setLanguage(e) {
    monaco.editor.setModelLanguage(editor.getModel(), language.value.split(".")[0]);
  }
  language.addEventListener("change", setLanguage);
  setLanguage();

  window.addEventListener('resize', () => {
    editor.layout();
  });
</script>
