{{ #> base title="Problemas" }}
  <div id="contest">
    <div id="breadcrumb">
      <a href=".">Início</a>
      /
      <a href="problems/">Problemas</a>
    </div>

    <div id="problems">
      {{ #each problems }}
      <a href="problems/{{ this.id }}" class="problem">
        <div class="problem-info">
          <div class="name">
            {{ this.label }} · {{ this.name }}
          </div>
          <div class="extra">
            {{this.time_limit}}s · {{ this.memory_limit_mib }}MiB
          </div>
        </div>
        <div class="span"></div>
        {{#if this.user_accepted_count}}
          <div class="score">
            <i class="gg-user"></i>
            <div class="time">x{{this.user_accepted_count}}</div>
          </div>
        {{/if}}
        {{#if this.first_ac_submission_time}}
          <div class="score accepted">
            <div>
              +{{#if this.failed_submissions}}{{this.failed_submissions}}{{/if}}
            </div>
            {{#if (ne this.first_ac_submission_time "*")}}
              <div class="time">
                {{this.first_ac_submission_time}}
              </div>
            {{/if}}
          </div>
        {{else}}
          {{#if this.failed_submissions}}
            <div class="score wrong-answer">
              <div>–{{ this.failed_submissions }}</div>
            </div>
          {{else}}
            <div class="score"></div>
          {{/if}}
        {{/if}}
      </a>
      {{ /each }}
    </div>
  </div>
{{ /base }}
