{{ #> base title="Competição" }}
  <div id="contest">
    <div id="breadcrumb">
      <a href=".">Início</a>
      /
      <a href="contests/">Competições</a>
      /
      <a href="contests/{{contest.id}}">{{contest.name}}</a>
      /
      <a href="contests/{{contest.id}}/scoreboard">Placar</a>
    </div>

    <div id="scoreboard">
      {{#each scores}}
      {{#if this.user_name}}
      <div class="score-row">
        <div class="score">
          {{@index}}
        </div>
        <div class="user">
          {{this.user_name}}
        </div>
        <div class="score">
          {{this.solved_count}}
        </div>
        <div class="penalty">
          {{this.penalty}}
        </div>
        {{#each this.problems}}
          {{#if this.first_ac_submission_time}}
            <div class="score accepted">
              <div>
                +{{#if this.failed_submissions}}{{this.failed_submissions}}{{/if}}
              </div>
              {{#if (ne this.first_ac_submission_time "*")}}
                <div class="time">
                  {{this.first_ac_submission_time}}
                </div>
              {{/if}}
            </div>
          {{else}}
            {{#if this.failed_submissions}}
              <div class="score wrong-answer">
                <div>–{{ this.failed_submissions }}</div>
              </div>
            {{else}}
              <div class="score"></div>
            {{/if}}
          {{/if}}
        {{/each}}
      </div>
      {{else}}
      <div class="score-row header">
        <div class="score">
          #
        </div>
        <div class="user">
          Usuário
        </div>
        <div class="score">
          =
        </div>
        <div class="penalty">
          Penalidade
        </div>
        {{#each this.problems}}
          <div class="score">{{this.label}}</div>
        {{/each}}
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>

  <div id="submissions" hx-sse="connect:submission_updates/">
    Submissões
    <div id="submissions-list" hx-get="submissions/me/contests/{{ contest.id }}" hx-trigger="load, sse:update_submission">
    {{> submissions }}
    </div>
  </div>
{{ /base }}
