<div id="modal">
  <script>
function closeModal() {
  document.querySelector('#modal').remove();
}
  </script>
  <div class="modal-underlay" onclick="closeModal()"></div>
  <div class="modal-content">
    <h4>Submissão {{submission.uuid}}</h4>
    <div>Problema: {{submission.problem_label}} do {{submission.contest_name}}</div>
    <div>Veredito: {{submission.verdict}}{{#if submission.failed_test}} (falhou no teste {{submission.failed_test}}){{/if}}</div>
    <div>Usuário: {{submission.user_name}}</div>
    <div>Linguagem: {{submission.language}}</div>
    <div>Memória: {{submission.memory_kib}}KiB</div>
    <div>Tempo: {{submission.time_ms}}ms</div>
    <div>Tempo de parede: {{submission.time_wall_ms}}ms</div>
    <div>Código-fonte:</div>
    <textarea class="source-text" readonly>{{submission.source_text}}</textarea>
    {{#if base.logged_user.is_admin}}
      <div>Saída de erro:</div>
      <textarea class="error-output" readonly>{{submission.error_output}}</textarea>
      <button hx-post="submissions/{{submission.uuid}}/rejudge" hx-target="body">Rejulgar</button>
    {{/if}}
    <button onclick="closeModal()">Fechar</button>
  </div>
</div>
