{{ #each submissions }}
{{ #if (eq this.verdict "WJ") }}
<div id="submission-{{ this.uuid }}" class="submission waiting-judge" hx-get="submissions/{{this.uuid}}" hx-target="body" hx-swap="beforeend">
  <div class="uuid">{{ this.uuid }}</div>
  <div class="description">
    <div class="lds-hourglass"></div>
    <div class="verdict">WJ</div> · {{ this.problem_label }} · {{ this.submission_instant }}
  </div>
  <div class="extra-info">
    {{#if ../base.logged_user.is_admin}} {{this.user_name}} {{/if}}
  </div>
</div>
{{ /if }}
{{ #if (eq this.verdict "AC") }}
<div id="submission-{{ this.uuid }}" class="submission accepted" hx-get="submissions/{{this.uuid}}" hx-target="body" hx-swap="beforeend">
  <div class="uuid">{{ this.uuid }}</div>
  <div class="description">
    <div class="verdict">AC</div> · {{ this.problem_label }} · {{ this.submission_instant }}
  </div>
  <div class="extra-info">
    {{this.time_ms}}ms {{#if this.memory}} · {{this.memory}}{{/if}}
    {{#if ../base.logged_user.is_admin}} · {{this.user_name}} {{/if}}
  </div>
</div>
{{ /if }}
{{ #if (eq this.verdict "WA") }}
<div id="submission-{{ this.uuid }}" class="submission wrong-answer" hx-get="submissions/{{this.uuid}}" hx-target="body" hx-swap="beforeend">
  <div class="uuid">{{ this.uuid }}</div>
  <div class="description">
    <div class="verdict">WA</div> · {{ this.problem_label }} · {{ this.submission_instant }}
  </div>
  <div class="extra-info">
    {{this.time_ms}}ms {{#if this.memory}} · {{this.memory}}{{/if}}
    {{#if ../base.logged_user.is_admin}} · {{this.user_name}} {{/if}}
  </div>
  {{#if this.failed_test}}
    <div class="failed-test">
      Falhou no teste {{this.failed_test}}
    </div>
  {{/if}}
  <div class="compilation-result">{{ this.error_output }}</div>
</div>
{{ /if }}
{{ #if (eq this.verdict "RE") }}
<div id="submission-{{ this.uuid }}" class="submission runtime-error" hx-get="submissions/{{this.uuid}}" hx-target="body" hx-swap="beforeend">
  <div class="uuid">{{ this.uuid }}</div>
  <div class="description">
    <div class="verdict">RE</div> · {{ this.problem_label }} · {{ this.submission_instant }}
  </div>
  <div class="extra-info">
    {{this.time_ms}}ms {{#if this.memory}} · {{this.memory}}{{/if}}
    {{#if ../base.logged_user.is_admin}} · {{this.user_name}} {{/if}}
  </div>
  {{#if this.failed_test}}
    <div class="failed-test">
      Falhou no teste {{this.failed_test}}
    </div>
  {{/if}}
  {{#if ../base.logged_user.is_admin}}
  <div class="compilation-result">{{ this.error_output }}</div>
  {{/if}}
</div>
{{ /if }}
{{ #if (eq this.verdict "ML") }}
<div id="submission-{{ this.uuid }}" class="submission memory-limit" hx-get="submissions/{{this.uuid}}" hx-target="body" hx-swap="beforeend">
  <div class="uuid">{{ this.uuid }}</div>
  <div class="description">
    <div class="verdict">ML</div> · {{ this.problem_label }} · {{ this.submission_instant }}
  </div>
  <div class="extra-info">
    {{this.time_ms}}ms {{#if this.memory}} · {{this.memory}}{{/if}}
    {{#if ../base.logged_user.is_admin}} · {{this.user_name}} {{/if}}
  </div>
  {{#if this.failed_test}}
    <div class="failed-test">
      Falhou no teste {{this.failed_test}}
    </div>
  {{/if}}
</div>
{{ /if }}
{{ #if (eq this.verdict "TL") }}
<div id="submission-{{ this.uuid }}" class="submission time-limit" hx-get="submissions/{{this.uuid}}" hx-target="body" hx-swap="beforeend">
  <div class="uuid">{{ this.uuid }}</div>
  <div class="description">
    <div class="verdict">TL</div> · {{ this.problem_label }} · {{ this.submission_instant }}
  </div>
  <div class="extra-info">
    {{this.time_ms}}ms {{#if this.memory}} · {{this.memory}}{{/if}}
    {{#if ../base.logged_user.is_admin}} · {{this.user_name}} {{/if}}
  </div>
  {{#if this.failed_test}}
    <div class="failed-test">
      Falhou no teste {{this.failed_test}}
    </div>
  {{/if}}
</div>
{{ /if }}
{{ #if (eq this.verdict "CE") }}
<div id="submission-{{ this.uuid }}" class="submission compilation-error" hx-get="submissions/{{this.uuid}}" hx-target="body" hx-swap="beforeend">
  <div class="uuid">{{ this.uuid }}</div>
  <div class="description">
    <div class="verdict">CE</div> · {{ this.problem_label }} · {{ this.submission_instant }}
  </div>
  <div class="compilation-result">{{ this.error_output }}</div>
  {{#if ../base.logged_user.is_admin}}
    <div class="extra-info">
      {{this.time_ms}}ms {{#if this.memory}} · {{this.memory}}{{/if}}
       · {{this.user_name}}
    </div>
  {{/if}}
</div>
{{ /if }}
{{ /each }}
